<?xml version="1.0"?>
<rdf:RDF xml:base="http://usefulinc.com/ns/doap#"
    xmlns:doap="http://usefulinc.com/ns/doap#"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
    xmlns:owl="http://www.w3.org/2002/07/owl#"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema#">
    <doap:Project rdf:about="http://purl.obolibrary.org/obo/obi/project">
        <doap:browse><owl:Thing rdf:about="http://purl.obolibrary.org/obo/obi/browse"/></doap:browse>
        <doap:bug-database><owl:Thing rdf:about="http://purl.obolibrary.org/obo/obi/tracker"/></doap:bug-database>
        <doap:homepage><owl:Thing rdf:about="http://purl.obolibrary.org/obo/obi"/></doap:homepage>
        <doap:mailing-list><owl:Thing rdf:about="mailto:obi-users@googlegroups.com"/></doap:mailing-list>
        <doap:release><owl:Thing rdf:about="http://purl.obolibrary.org/obo/obi/__VERSION_GOES_HERE__/obi.owl"/></doap:release>
        <doap:repository><doap:SVNRepository rdf:about="http://purl.obolibrary.org/obo/obi/repository"/></doap:repository>
        <doap:wiki><owl:Thing rdf:about="http://purl.obolibrary.org/obo/obi/wiki"/></doap:wiki>
    </doap:Project>

    <doap:Version rdf:about="http://purl.obolibrary.org/obo/obi/__VERSION_GOES_HERE__/obi.owl">
        <rdfs:label>__PRETTY_NAME_GOES_HERE__</rdfs:label>
        <rdfs:seeAlso><owl:Thing rdf:about="http://purl.obolibrary.org/obo/obi/wiki/Releases/__VERSION_GOES_HERE__"/></rdfs:seeAlso>
        <doap:file-release><owl:Thing rdf:about="http://purl.obolibrary.org/obo/obi/__VERSION_GOES_HERE__/obi.owl"/></doap:file-release>
        <doap:file-release><owl:Ontology rdf:about="http://purl.obolibrary.org/obo/obi.owl"/></doap:file-release>
        <doap:revision>SVN Revision: __SVN_REVISION_GOES_HERE__</doap:revision>
    </doap:Version>

    <owl:Class rdf:about="http://usefulinc.com/ns/doap#Project"> 
        <rdfs:isDefinedBy rdf:resource="http://usefulinc.com/ns/doap"/> 
    </owl:Class> 

    <owl:Class rdf:about="http://usefulinc.com/ns/doap#SVNRepository">
        <rdfs:isDefinedBy rdf:resource="http://usefulinc.com/ns/doap"/> 
    </owl:Class> 

    <owl:Class rdf:about="http://usefulinc.com/ns/doap#Version"> 
        <rdfs:isDefinedBy rdf:resource="http://usefulinc.com/ns/doap"/> 
    </owl:Class> 

    <owl:ObjectProperty rdf:about="http://usefulinc.com/ns/doap#browse"> 
        <rdfs:isDefinedBy rdf:resource="http://usefulinc.com/ns/doap"/> 
    </owl:ObjectProperty> 

    <owl:ObjectProperty rdf:about="http://usefulinc.com/ns/doap#bug-database"> 
        <rdfs:isDefinedBy rdf:resource="http://usefulinc.com/ns/doap"/> 
    </owl:ObjectProperty> 

    <owl:ObjectProperty rdf:about="http://usefulinc.com/ns/doap#homepage"> 
        <rdfs:isDefinedBy rdf:resource="http://usefulinc.com/ns/doap"/> 
    </owl:ObjectProperty> 

    <owl:ObjectProperty rdf:about="http://usefulinc.com/ns/doap#mailing-list"> 
        <rdfs:isDefinedBy rdf:resource="http://usefulinc.com/ns/doap"/> 
    </owl:ObjectProperty> 

    <owl:ObjectProperty rdf:about="http://usefulinc.com/ns/doap#release"> 
        <rdfs:isDefinedBy rdf:resource="http://usefulinc.com/ns/doap"/> 
    </owl:ObjectProperty> 

    <owl:ObjectProperty rdf:about="http://usefulinc.com/ns/doap#repository"> 
        <rdfs:isDefinedBy rdf:resource="http://usefulinc.com/ns/doap"/> 
    </owl:ObjectProperty> 

    <owl:ObjectProperty rdf:about="http://usefulinc.com/ns/doap#wiki"> 
        <rdfs:isDefinedBy rdf:resource="http://usefulinc.com/ns/doap"/> 
    </owl:ObjectProperty> 

    <owl:ObjectProperty rdf:about="http://usefulinc.com/ns/doap#file-release"> 
        <rdfs:isDefinedBy rdf:resource="http://usefulinc.com/ns/doap"/> 
    </owl:ObjectProperty> 

    <owl:DatatypeProperty rdf:about="http://usefulinc.com/ns/doap#revision"> 
        <rdfs:isDefinedBy rdf:resource="http://usefulinc.com/ns/doap"/> 
    </owl:DatatypeProperty> 

    <owl:AnnotationProperty rdf:about="http://www.w3.org/2000/01/rdf-schema#isDefinedBy"/> 

    <owl:Thing rdf:about="http://usefulinc.com/ns/doap"/>

</rdf:RDF>
